.auth-page .form-inputs {
  max-width: 400px;
  margin: 1rem auto;
}

.auth-page .form-actions {
  text-align: center;
}

.auth-page {
  margin-top: 2rem;
  padding: 40px;
  background: white;
  border-radius: 12px;
}

.auth-page h2 {
  text-align: center;
  margin-top: 1rem;
}

.auth-page .my-button {
  text-decoration: none;
  width: 8rem;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: blue;
  color: white;
  margin-right: 1rem;
  transition: all 0.3s;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.auth-page .my-button:hover {
  background-color: whitesmoke;
  color: blue;
}
