// Banner

.land-page .bannerin {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  height: 12rem;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}

.land-page .bannerout {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.land-page .bannerin h1, .land-page .bannerout h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.land-page .bannerin p, .land-page .bannerout p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// custom button
.land-page .my-button {
  text-decoration: none;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: blue;
  color: white;
  margin-right: 1rem;
  transition: all 0.3s;
}

.land-page .my-button:hover {
  background-color: white;
  color: blue;
}

// H3 decoration
.land-page h3{
  color: white;
  font-weight: 700;
}

// Card
.land-page .cards {
  border-radius: 5px;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  height: 25rem;
}

.land-page .cards {
  border-radius: 5px;
  margin: 1rem;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}


.land-page .card-category {
  border-radius: 5px;
  width: 100%;
  max-width: 1200px;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: larger;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.land-page .card-category .card-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: larger;
  transition: all 0.3s;
}

.land-page .card-category .card-link:hover {
  color: orange;
  font-size: x-large;
}

// Main page saved recipes animation

.land-page .rotating-text {
  opacity: 0.7;
  transition: opacity 0.4s ease;
}
