// Sidebar
.land-page .sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: #222;
  color: white;
  padding: 2rem;
  transition: left 0.3s ease;
  z-index: 2000;
}


.land-page .sidebar.active {
  left: 0;
}

.land-page .sidebar-toggle {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: white;
  padding: 0.5rem 0.7rem;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  z-index: 3000;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: left 0.3s ease;
}

.land-page .sidebar.active + .sidebar-toggle {
  left: 250px;
}

.land-page .sidebar-toggle i {
  font-size: 1.2rem;
  color: #333;
  z-index: 2100;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.land-page .sidebar-img {
  max-width: 140px;
}

.land-page .sidebar img {
  max-width: 180px;
  display: block;
  margin: 0 auto;
}

.land-page .sidebar-btn {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: larger;
  transition: all 0.3s;
}

.land-page .sidebar-btn:hover {
  color: orange;
}

.land-page .sidebar-text {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: x-large;
  transition: all 0.3s;
}

.land-page .sidebar-btn.recipe {
  display: block;
  margin-bottom: 0.3rem;
  font-size: medium;
}

.land-page .sidebar.active + .sidebar-toggle {
  opacity: 0.7;
}

.land-page .sidebar.active + .sidebar-toggle i {
  transform: rotate(180deg);
}
