<h1>My Saved Recipes</h1>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <h2>
          <%= link_to recipe.title, recipe_path(recipe) %>
        </h2>
    <% end %>
