<div class="d-flex justify-content-center mt-5">
  <div class="card shadow-lg p-4" style="width: 80%">

    <div class="card-header text-center bg-white border-0">
      <h1 class="fw-bold mb-0">My Saved Recipes</h1>
    </div>
    <div class="card-body">
      <% if @recipes.any? %>
        <ul class="list-unstyled d-grid gap-3 mx-auto">
          <% @recipes.each do |recipe| %>
            <li class="p-3 shadow-sm border rounded">
              <div class="d-flex justify-content-between align-items-center">

                <h2 class="mb-0 fs-5">
                  <%= link_to recipe.title, recipe_path(recipe.id), class: "text-decoration-none text-dark" %>
                </h2>

                <small class="text-muted">
                  Cooking Time: min
                </small>
              </div>
            </li>
          <% end %>
        </ul>

      <% else %>
        <p class="text-center mt-3 text-muted">You haven't saved any recipes yet. Start cooking!</p>
      <% end %>
    </div>
  </div>
</div>
