<div class="land-page">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/top-view-table-full-food_23-2149209253.jpg?semt=ais_hybrid&w=740&q=80);">
    <div class="container">
      <h1>AI Recipe Finder</h1>
      <p>Tell the AI your ingredients — get an instant recipe.</p>
      <a class="my-button" href="/users/sign_in">Sign in</a>
      <a class="my-button" href="/users/sign_up">Sign up</a>
    </div>
  </div>
</div>
